[Unit] 
  Description=PostgreSQL database 
  After=docker.service volume-public.service
  Requires=docker.service volume-public.service

[Service] 
  TimeoutStartSec=0
  EnvironmentFile=/home/core/share/etc/sysctl/fleet_machines.env
  ExecStartPre=-/usr/bin/docker kill some-postgres 
  ExecStartPre=-/usr/bin/docker rm some-postgres 
  ExecStartPre=/usr/bin/docker pull postgres 
  ExecStart=/usr/bin/docker run --rm --name some-postgres \
  -e "POSTGRES_USER=${POSTGRES_USER}" -e "POSTGRES_PASSWORD=${POSTGRES_PASSWORD}" \
  -v "volume-public:/var/lib/posgresql" -p "5432:5432" postgres 
  ExecStop=/usr/bin/docker stop some-postgres 

[Install] 
  WantedBy=multi-user.target
