[Unit] 
  Description= volume-public share between some-postgres, app-job, app-task and some-nginx 
  After=docker.service
  Requires=docker.service

[Service] 
  TimeoutStartSec=0 
  ExecStart=/usr/bin/docker volume create --name volume-public

[Install] 
  WantedBy=multi-user.target
