[Unit] 
  Description= volume-public share between some-postgres, app-job, app-task and some-nginx 
  After=docker.service
  Requires=docker.service

[Service] 
  TimeoutStartSec=0 
  ExecStartPre=-/usr/bin/docker volume inspect some-postgres
  ExecStart=/usr/bin/docker volume create --name volume-public
  #ExecStop=/usr/bin/docker rm volume-public -f

[Install] 
  WantedBy=multi-user.target
